.stretch{
    align-items: stretch;
}

.flex-start{
    align-items: flex-start; /* Alinha os itens no início do container */
}

.flex-end{
    align-items: flex-end; /* Alinha os itens no final do container */
}

.center{
    align-items: center; /* Centraliza os itens no container */
}

.baseline{
    align-items: baseline; /* Alinha os itens na linha de base */
}

.container {
    display: flex; /* Ativa o flexbox */
    border: 1px solid #ccc; /* Borda cinza clara */
    margin: 0 auto; /* Remove margens padrão */
    max-width: 420px; /* Largura máxima de 430px */
}

.column {
    min-height: 200px; /* Altura mínima de 200px */
    flex-direction: column; /* Direção da coluna */
}

.item{
 
    margin: 5px; /* Margem de 5px */
    background: tomato; /* Fundo vermelho tomate */
    text-align: center; /* Centraliza o texto */
    font-size: 1.5em; /* Tamanho da fonte */
    padding: 0 10px; /* Espaçamento interno */
}

.item:nth-child(odd) {
    padding-top: 20px;
}

.alinhamento-central{
    height: 400px; /* Altura de 400px */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
}

.alinhamento-central .item {
    flex: 0;
    padding: 10px; /* Espaçamento interno */
}


h1{
    text-align: center; /* Centraliza o texto */
    margin: 20px 0 0 0; /* Margem superior de 20px, sem margem nas outras direções */
    font-size: 1.25em; /* Tamanho da fonte */
    font-weight: normal; /* Peso normal da fonte */
}

body{
    font-family: monospace; /* Fonte padrão */
    background-color: rgb(255, 255, 255); /* Fundo cinza claro */
}