/* Alinha o conteúdo esticando */
.stretch {
    align-content: stretch;
}

/* Alinha o conteúdo no início */
.flex-start {
    align-content: flex-start;
}

/* Alinha o conteúdo no final */
.flex-end {
    align-content: flex-end;
}

/* Centraliza o conteúdo */
.center {
    align-content: center;
}

/* Espaça o conteúdo com espaço entre */
.space-between {
    align-content: space-between;
}

/* Espaça o conteúdo com espaço ao redor */
.space-around {
    align-content: space-around;
}

/* Flex Container */
.container {
    max-width: 420px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
    flex-wrap: wrap; /* Permite quebra de linha */
}

.item {
    flex: 1;
    margin: 5px;
    padding: 0 10px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

/* Estiliza os títulos h1 */
h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

/* Define fonte e cor padrão para o corpo da página */
body {
    font-family: monospace;
    color: #333;
}