/*.container {
    display: grid;
    grid-template-columns: 50px 50px 50px ;
    grid-template-rows: 50px 50px 50px ;
    gap: 10px;
}*/

.container {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30px 80px 30px;
    grid-template-areas: 
        "cabecalho cabecalho"
        "lateral conteudo"
        "rodape rodape";
    text-align: center;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

/* .item {
    background-color: tomato;
    text-align: center;
    color: white;
}*/

.cabecalho{
    grid-area: cabecalho;
    border: 1px solid black;
}

.lateral{
    grid-area: lateral;
    border: 1px solid black;
}

.conteudo{
    grid-area: conteudo;
    border: 1px solid black;
}

.rodape{
    grid-area: rodape;
    border: 1px solid black;
}


/*.container01{
    display: grid;
    grid-template-areas: "linha1 linha1 linha1"
                         "linha2 linha3 linha3"
                         "linha4 linha4 linha4";
    gap: 10px;
    text-align: center;
    grid-auto-rows: 100px;
    grid-auto-columns: 20%;
}

/* .item {
    background-color: tomato;
    text-align: center;
    color: white;
}

.linha1 {
    grid-area: linha1;
  
}

.linha2 {
    grid-area: linha2;
}

.linha3 {
    grid-area: linha3;
}

.linha4 {
    grid-area: linha4;
}

.linha1,
.linha2,
.linha3,
.linha4 {
    border: 1px solid blue;
}*/