*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    border: 5px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}

input{
    padding: 10px 15px;
    font-size: 15px;
    color: black;
}

.area_0{
    grid-area: logo;
    padding: 16px;
    background-color: rgb(73, 72, 72);
}

.area_1{
    grid-area: cabecalho;
    padding: 16px;
    background-color: #303030;
}

.area_2{
    grid-area: busca;
    padding: 32px 48px;
    background-color: white;
    border-bottom: 1px solid #ced4d4;
}

.area_3{
    grid-area: lateral-e;
    padding: 16px;
    background-color: #f7f7f7;
    margin-right: 16px;
    border-right: 1px solid #ced4d4;
}

.area_4{
    grid-area: conteudo-1;
    padding: 24px 10px;
}

.area_5{
    grid-area: conteudo-2;
    padding: 24px 10px;
}

.area_6{
    grid-area: conteudo-3;
    padding: 24px 10px;
}

.area_7{
    grid-area: conteudo-4;
    padding: 24px 10px;
}

.area_8{
    grid-area: rodape;
   background-color: #074a71;
   color: #ffffff;
   padding: 32px 0;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.menu a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: darkgreen;
}









































/*.container {
    display: grid;
    grid-template-columns: 50px 50px 50px ;
    grid-template-rows: 50px 50px 50px ;
    gap: 10px;
}

.container {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 30px 80px 30px;
    grid-template-areas: 
        "cabecalho cabecalho"
        "lateral conteudo"
        "rodape rodape";
    text-align: center;
    gap: 10px;
    justify-content: center;
    height: 100vh;
}

/* .item {
    background-color: tomato;
    text-align: center;
    color: white;
}

.cabecalho{
    grid-area: cabecalho;
    border: 1px solid black;
}

.lateral{
    grid-area: lateral;
    border: 1px solid black;
}

.conteudo{
    grid-area: conteudo;
    border: 1px solid black;
}

.rodape{
    grid-area: rodape;
    border: 1px solid black;
}


/*.container01{
    display: grid;
    grid-template-areas: "linha1 linha1 linha1"
                         "linha2 linha3 linha3"
                         "linha4 linha4 linha4";
    gap: 10px;
    text-align: center;
    grid-auto-rows: 100px;
    grid-auto-columns: 20%;
}

/* .item {
    background-color: tomato;
    text-align: center;
    color: white;
}

.linha1 {
    grid-area: linha1;
  
}

.linha2 {
    grid-area: linha2;
}

.linha3 {
    grid-area: linha3;
}

.linha4 {
    grid-area: linha4;
}

.linha1,
.linha2,
.linha3,
.linha4 {
    border: 1px solid blue;
}*/